.contenidoAmedida{
    /*color: white;*/
    background-image: url(../../public/img/AMedida_ilu.png);
    background-repeat : no-repeat;
    padding: 11.5rem;
    /*zoom: 60%;*/
    /*height: 800px;*/
    background-size: contain;
    background-position: right;
    display: flex;
    justify-content: flex-end;
    color: #FF8300;
}

.textAmedida{
    width: 65%;
}
