:root {
    --primary: #FF8300;
    --secondary: #545386;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*="contenedor"], 
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*="heading"]{
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(255, 255, 255), rgba(215, 94, 0, 1));
    border-image-slice: 1;
    width:20%;

    font-size: 4rem;
    /*text-align: center;*/
    font-weight: 700;
    color: var(--primary);
    margin: 4rem 0;
   
  }

  .borderGradient{
    text-align:center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
  }

  .index{
    background-image: url(/img/Index.jpg);
    padding: 6rem;
    /*zoom: 60%;*/
    /*height: 800px;*/
    background-size: cover;
    background-position: center center;
    color: white;
    height: 46rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-shadow: 2px 2px 4px black
  }

  .index-contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.7rem;
    color: white;
    height: 80px;
    background-color: #FF8300;
    margin-top: 10px;
    
    /*margin-right: unset;*/
    justify-content: space-around;
  }

  .barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  /** HEADER menos de 768px se hace esto*/
  .header{
    
}

.header .logo{
      width: 25rem;
  }

  @media (min-width: 768px){ 
    .barra{
        flex-direction: row;
        justify-content: space-between;
    }
  }
  .header .navegacion{
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }

  @media(min-width: 768px){
    .header .navegacion{
        margin-top: 0;
        flex-direction: row;
        margin-right: unset;
      }
  }
  .header .navegacion a{
    color: var(--secondary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    padding: .5rem;
    transition-property: color;
    transition-duration: 300ms;
}

.header .navegacion a:hover,
.header .active {
    color: var(--primary) !important
    
  }


/** Footer **/
.footer{
    /*background-color: var(--black);*/
    padding: 5rem 0;
    margin-top: 5rem;
}

@media(min-width: 768px){
    .footer .contenido{
        display: flex;
        justify-content: space-between;
    }
}

.footer .navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

@media(min-width: 768px){
    .footer .navegacion{
        flex-direction: row;
    }
}

.footer .navegacion a, .footer .copyright{
    color: var(--black);
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}

.footer .copyright{
    text-align: center;
    font-size: 1rem;
}
