.contenidoNosotros{
    /*color: white;*/
    background-image: url(../../public/img/Nosotros_background_1.png);
    padding: 11.5rem;
    /*zoom: 60%;*/
    /*height: 800px;*/
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.textNosotros{
    width: 65%;
}

.contenidoNosotros2{
    /*color: white;*/

    background-image: url(../../public/img/Nosotros_background_2.png);
    padding: 11.5rem;
    /*zoom: 60%;*/
    /*height: 800px;*/
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-init;
    color: white;
}

.textNosotros2{
    width: 60%;
}