.contenidoPregF{
    /*color: white;*/
    background-image: url(../../public/img/PreguntasFrecuentes.png);
    background-repeat : no-repeat;
    margin-left: 5%;
    /*padding: 11.5rem;*/
    /*zoom: 60%;*/
    /*height: 800px;*/
    /*background-size: contain;*/
    background-position: right;
    display: flex;
    justify-content: flex-end;
    color: #FF8300;
    justify-content: left;
}

.textPregF{
    width: 50%;
}
